/*가장 기본적인 css들 적는 곳(폰트, 폰트크기, :hover 같은 간단한거 적을 때 하기)*/
body{
    font-family: 'Noto Sans KR', sans-serif;
    cursor: url('../img/couser/couser2.png'), auto;
    /* font-size: 1em;
    color: rgb(45, 45, 45); */
}
ul,ol,dl{
    list-style: none;
}


/* 스노우 배경 */
/* Snow background */

/* make falling snow effects*/
.fall_snow {
    background-image: url("https://i.imgur.com/KfJObFl.png"),
    url("https://i.imgur.com/ZYq8b5o.png"),
    url("https://i.imgur.com/dNMg8eO.png");
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
    }
}
@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}
@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}



/*메인 배너 부분*/
header{
    position: relative;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #a6d900 0%, #ff7580 100%);
    opacity: 0.8;
    animation: huerotator 6s infinite alternate;
}
@keyframes huerotator {
    0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
}

100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
}
}
h2{
    position: relative;
    z-index: 9;
    font-family: 'Ubuntu', sans-serif !important;
    /* font-family: 'Noto Sans KR', sans-serif; */
    margin-bottom: 25px;
}
section{
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
#header .proTit{
    position: absolute;
    top: 24px;
    left: 24px;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    font-size: 25px;
    color: #fff;
    letter-spacing: 4px;
    font-family: 'Gowun Dodum', sans-serif !important;
}
/*마우스 따라다니는 아이콘*/

.ani_on{
	animation: fadeIn 0.3s 0.3s both;
}
/* .cursor{
    position:absolute;
    top:0;
    left: 0;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    background-color: lightsalmon;
    transform:translate(-50%, -50%);
    pointer-events: none;
} */




/*메인 제목 부분*/
.logoDi {
	position: relative;
	display: flex;
	flex-direction: column;
}
.logoDi h2{ 
	color: #fff;
	font-size: 8.5em;
	font-family: 'Lobster', cursive;
	text-transform: capitalize;
	margin: 0;
	/* position: absolute;
	transform: translate(-50%, -50%); */
}
/* .intro-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 51%;
	text-align: center;
} */
/* .titGroup03 p{
	color: #fff;
	line-height: 30px;
	font-size: 1.4em;
	margin-top: 12px;
	font-family: 'Gowun Dodum', sans-serif;
} */
/*메인텍스트*/
.mainTxt{}
.mainTxt{}
header .intro-content{
    width: 100% !important;
    height: 65% !important;
}
header .intro-content svg{
    position: absolute;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
svg {
	/* font-family: 'Russo One', sans-serif; */
    font-family: 'Lobster', cursive;
	position: absolute; 
	width: 100%; 
    height: 55%;
}
text {
	/* text-transform: uppercase; */
	animation: stroke 9s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 8em;
}
/* rgba(248,190,103,1),rgba(238,98,144,1) */
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: #fff;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: #fff; }
	80%  {fill: rgba(72,138,20,0); stroke: #fff; stroke-width: 2; }
	100% {
		fill: #fff; stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
/* @keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
} */
header .intro-content .titGroup04{
    position: absolute;
    width: 100%;
    top: 81%;
}
header .intro-content .titGroup04 > p{
	color: #fff;
	line-height: 30px;
	font-size: 1.4em;
	margin-top: 12px;
	font-family: 'Gowun Dodum', sans-serif;
}

/*메뉴 부분*/
#page-top nav{
	border-bottom: 1px solid #ffffff47;
}
.navbar-inverse .navbar-nav > li > a{
	font-size: 1.5em;
	font-family: 'Lobster', cursive;
}
#page-top .navbar-inverse .navbar-nav > li > a{
    border-radius: 50% !important;
}
#page-top{}
#page-top{}
#page-top{}
#page-top{}
#page-top{}



/* 햄버거 메뉴 */
.navigation__checkbox{
    display: none;
}
.navigation__button{
    background-color: #8988ff;
    height: 70px;
    width: 70px;
    position: fixed;
    top: 50px;
    right: 90px;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    cursor: pointer;
}
.navigation__background{
    height: 60px;
    width: 10px;
    /* border-radius: 50%; */
    position: fixed;
    top: 55px;
    right: 118px;
    background: #fff;
    opacity: 0.9;
    /* background-image: radial-gradient(#8254e5, #66b3ff); */
    z-index: 500;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
}
.navigation__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 53%;
    left: 86%;
    transform: translate(-50%, -50%);
}
.navigation__item{
    margin: 7px;
}
.navigation__link:link, .navigation__link:visited{
    --fill-color: #8988ff;
    position: relative;
    display: block;
    padding: 6px 0;
    font: 700 4.3rem Raleway, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left/0 no-repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.4s linear;
}
.navigation__link:hover, .navigation__link:active{
    background-size: 100%;
}
.navigation__checkbox:checked ~ .navigation__background{
    transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav{
    opacity: 1;
    width: 100%;
}
.navigation__icon{
    position: relative;
    margin-top: 35px;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after{
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
}
.navigation__icon::before, .navigation__icon::after{
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.navigation__icon::before{
    top: -8px;
}
.navigation__icon::after{
    top: 8px;
}
.navigation__button:hover .navigation__icon::before{
    top: -10px;
}
.navigation__button:hover .navigation__icon::after{
    top: 10px;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon{
    background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before{
    top: 0;
    transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after{
    top: 0;
    transform: rotate(-135deg);
}


/*스크롤 다운 버튼*/
.scroll-down .arrow{
    position: absolute; 
    bottom: 50px;
    left: 50%; 
    transform: translateX(-50%);
    animation: up-down 0.9s infinite ease-in-out alternate;
}
@keyframes up-down{
	from{
		transform: translatey(0px);
	}
	to{
		transform: translatey(-20px);
	}
}

/* 풀페이지 인디케이터*/
#nav{ 
    position: fixed; 
    left: 2%; 
    top: 50%; 
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    gap: 3px;
}
#nav > a{ 
    display: inline-block; 
    margin: 6px;
    font-size: 0;
    width: 7px;
    height: 7px;
    background: #f8be67;
    border-radius: 50%;
    transition: all 0.3s;
}
#nav > a.active{
    background: none;
    transition: 0.4s;
}
#nav > a.active::after{ 
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 17px;
    height: 17px;
    background: transparent;
    border: 3px dotted #ee6290;
    animation: rotate_border 10s linear infinite;
    border-radius: 50%;
}
#nav .page{
    position: relative;
}
#nav span{
    position: absolute;
    top: -6px;
    left: 3px;
    display: none;
    width: 70px;
    font-size: 12px;
    color: #222;
    margin-left: 20px;
}
@keyframes rotate_border{
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}
#nav a:hover span{
    display: block;
}

/*탑버튼*/
.goToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 9;
}
.goToTop a {
    width: 60px;
    height: 60px;
    padding-top: 16px;
    font-size: 1em;
}
.goToTop a {
    position: absolute;
    right: 35%;
    bottom: 35%;
    display: block;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 0.9em;
}

.goToTop img{
    display: block;
    right: 0;
    bottom: 0;
    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
    z-index: -1;
}
/* .goToTop.on{
    opacity: 1;
} */
img {
    border: 0;
    vertical-align: top;
}

@keyframes rotate_image  {

100% {
    transform: rotate(360deg) ;
    opacity: 1;
}

}
/*돌아가는 원형 사이클*/
/* svg{
    display: block;
    width: 12%;
    height: 200px;
    letter-spacing: 0.2em;
    position: absolute;
    top: 75%;
    left: 85%;
}
text {
    transform-origin: 50% 50%;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
} */


/*about부분*/
#about{
	background: #fff;
    padding: 145px 0;
}
#aboutWrap{
    width: 1400px;
}
.container-fluid{
    width: 100%;
    max-width: 1400px;
}
#about .photo{
    width: 330px;
    height: 330px;
    background-color: #ccc;
    margin-right: 65px;
    border-radius: 50%;
    position: relative;
}
#about .photo .phoImg{
    position: absolute;
    top: -23%;
    left: -11%;
    width: 410px;
    height: 410px;
    background-image: url('../img/photoImg2-1.png');
    background-size: contain;
    background-position: top;
    border-radius: 50%;
}
/* #about .photo::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/photoImg.png') no-repeat;
    background-size: cover;
} */
#about .content-row{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 0;
    align-items: stretch;
}
/* #about .aboutFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
#about .about-content{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
#about .con1{
    display: flex;
    justify-content: start;
    align-items: baseline;
}
/* #about .con2{
    display: flex;
    justify-content: start;
} */
#about .col-md-3{
    width: 35%;
}
#about .about-content > ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    padding-left: 0;
    margin-bottom: 0;
}
#about .about-content > ul > li{
    display: flex;
    gap: 18px;
}
#about .about-content h3{
    margin: 0;
    margin-bottom: 9px;
}
#about .about-content p{
    margin: 0;
    font-size: 1.1em;
}
#about .about-content > ul > li .num01{
    margin-left: 8px;
}
#about .about-content > ul > li .num02{
    margin-left: -3px;
}
#about .about-content > ul > li .num03{
    margin-left: 16px;
}
#about .about-content01{
    /* padding: 15px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
#about .about-content01 h3{
    margin: 0;
    margin-bottom: 0;
}
#about .about-content01 > ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    padding-left: 0;
    margin-bottom: 0;
    width: 138%;
}
#about .about-content01 > ul > li{
    display: flex;
    gap: 18px;
}
#about .about-content01 > ul > li > p{
    margin: 0;
    font-size: 1.1em;
}
#about .col-lg-12{
    text-align: left;
}

#about h2::after{
    content: "01";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#aboutWrap .aboutFlex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about{}


/*skill 부분*/
#aboutWrap .aboutFlex2{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#about .con2 .col-md-3{
    width: 17%;
}
#about .con2 .b-skills{
	/* padding-top: 10px; */
	text-align: center;
}

#about .con2 .b-skills:last-child{ 
    margin-bottom: -30px; 
}

#about .con2 .b-skills h2{ 
    margin-bottom: 50px; 
    font-weight: 900; 
    text-transform: uppercase;
}

#about .con2 .skill-item{
	position: relative;
	max-width: 250px;
	width: 100%;
	color: #555;
}

#about .con2 .chart-container{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
	margin-bottom: 27px;
}
#about .skillContainer h3{
    text-align: left;
}
#about .skillContainer .row{
    margin-top: 3%;
}
#about .con2 .skill-item .chart,
#about .con2 .skill-item .chart canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

#about .con2 .skill-item .chart:before{
	content: "";
	width: 0;
	height: 100%;
}

#about .con2 .skill-item .chart:before,
#about .con2 .skill-item .percent{
	display: inline-block;
	vertical-align: middle;
}

#about .con2 .skill-item .percent{
	position: relative;
	line-height: 1;
	font-size: 40px;
	font-weight: 900;
	z-index: 2;
}

#about .con2 .skill-item .percent:after{
	content: attr(data-after);
	font-size: 20px;
}
#about .skill-content{
    text-align: left;
}
#about .skill-content ul{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    padding-left: 0;
    margin-bottom: 0;
}
#about .skill-content ul > li{
    display: flex;
    gap: 18px;
}
#about .skill-content ul > li > p{
    margin: 0;
    font-size: 1.1em;
}




/*cage24 부분*/
#cafe{
    background: #f9f9f9;
    padding: 145px 0;
}
#cafe .tit01{
    text-align: left;
}

#cafe .siteInfo .siteImg .img{
    background: url('../img/siteimg/cafe24_page2.png') no-repeat;
    width: 800px;
    background-size: cover;
    height: 500px;
    /* border-radius: 10px; */
    position: relative;
    border: 1px solid #eee;
    border-radius: 20px;
}


#cafe .siteInfo .siteImg .img:hover{
    animation: siteScroll 12s ease infinite;
}
@keyframes siteScroll {
    0% {
    background-position-y: 0;
}
100% {
    background-position-y: 100%;
}

}
#cafe .leftTit{
    width: 487px;
}
#cafe .leftTit h3{
    margin-bottom: 5%;
}
#cafe .siteInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cafe h2::after{
    content: "02";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#cafe .siteInfo .leftTit dl{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#cafe .siteInfo .leftTit dl dt{
    width: 30%;
    line-height: 35px;
}
#cafe .siteInfo .leftTit dl dd{
    width: 70%;
    line-height: 33px;
}
/* #cafe .siteInfo .leftTit a{
    display: block;
    padding: 10px 5px;
    width: 115px;
    border: 1px solid #ccc;
    text-align: center;
    color: #222;
} */

#cafe .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#cafe .button:hover {
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #bb91e3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}


/*하드코딩 부분*/
#hardCoding{
    background: #fff;
    padding: 145px 0;
}
#hardCoding .tit01{
    text-align: left;
    margin-bottom: 60px;
}
#hardCoding h2::after{
    content: "03";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#hardCoding .siteInfo .siteImg .img{
    background: url('../img/siteimg/hardCoding_page.png') no-repeat;
    width: 800px;
    background-size: cover;
    height: 500px;
    /* border-radius: 10px; */
    position: relative;
    border: 1px solid #eee;
    border-radius: 20px;
}

#hardCoding .siteInfo .siteImg .img:hover{
    animation: siteScroll 12s ease infinite;
}
@keyframes siteScroll {
    0% {
    background-position-y: 0;
}
100% {
    background-position-y: 100%;
}
}

#hardCoding .rightCon{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 467px;
}
#hardCoding .rightTit{
    width: 625px;
}
#hardCoding .siteInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hardCoding .siteInfo .rightTit dl{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 9px;
}
#hardCoding .siteInfo .rightTit dl dt{
    width: 27%;
    line-height: 33px;
}
#hardCoding .siteInfo .rightTit dl dd{
    width: 70%;
    line-height: 33px;
}
/* #cafe .siteInfo .leftTit a{
    display: block;
    padding: 10px 5px;
    width: 115px;
    border: 1px solid #ccc;
    text-align: center;
    color: #222;
} */
#hardCoding .plusBtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#hardCoding .button1{
    width: 105px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#hardCoding .button1:hover{
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #bb91e3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}
#hardCoding .button2{
    width: 105px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#hardCoding .button2:hover{
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #ab6fe3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}
#hardCoding .button3{
    width: 105px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#hardCoding .button3:hover{
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #9b4de3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}
#hardCoding .button4{
    width: 105px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#hardCoding .button4:hover{
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #8a2be2; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}

/*리뉴얼 사이트*/
#reSite{
    background-color: #f9f9f9;
    padding: 145px 0;
}
#reSite .siteWrap{
    width: 1400px;
    margin: 0 auto;
}
/* 각 메인 제목 애니메이션 효과 H2 */
.titAni {
    /* height: 100px; */
    letter-spacing: -5px;
}

.titAni span {
    position: relative;
    top: 0px;
    left: 0;
    display: inline-block;
    animation: titBounce 3s ease 0s infinite normal none running;
    /* font-family: 'Titan One', cursive; */
    font-size: 60px;
    /* color: #FFF; */
    /* text-shadow: 0 10px 10px rgba(0, 0, 0, .2); */
    /* text-shadow: 0 1px 0 #e3e3e3,
                    0 2px 0 #e3e3e3,
                    0 3px 0 #e3e3e3,
                    0 4px 0 #e3e3e3,
                    0 5px 0 #e3e3e3,
                    0 6px 0 transparent,
                    0 7px 0 transparent,
                    0 8px 0 transparent,
                    0 9px 0 transparent,
                    0 10px 10px rgba(0, 0, 0, .2); */
}
.titAni span:nth-of-type(1) { animation-delay: 0.3s; }
.titAni span:nth-of-type(2) { animation-delay: 0.6s; }
.titAni span:nth-of-type(3) { animation-delay: 0.9s; }
.titAni span:nth-of-type(4) { animation-delay: 1.2s; }
.titAni span:nth-of-type(5) { animation-delay: 1.5s; }
.titAni span:nth-of-type(6) { animation-delay: 1.8s; }
.titAni span:nth-of-type(7) { animation-delay: 2.1s; }
.titAni span:nth-of-type(8) { animation-delay: 2.4s; }
.titAni span:nth-of-type(9) { animation-delay: 2.7s; }
.titAni span:nth-of-type(10) { animation-delay: 3s; }
.titAni span:nth-of-type(11) { animation-delay: 3.3s; }


@keyframes titBounce{
    0%{
        top: 0px;
    }
    20%{
        top: -0.4rem;
    }
    40%{
        top: 0px;
    }
    60%{
        top: 0px;
    }
    80%{
        top: 0px;
    }
    100%{
        top: 0px;
    }
}
/* @keyframes bounce {
100% {
    top: -7px;
    text-shadow: 0 1px 0 #CCC,
                0 2px 0 #CCC,
                0 3px 0 #CCC,
                0 4px 0 #CCC,
                0 5px 0 #CCC,
                0 6px 0 #CCC,
                0 7px 0 #CCC,
                0 8px 0 #CCC,
                0 9px 0 #CCC,
                0 50px 25px rgba(0, 0, 0, .2);
}
} */


#reSite h2::after{
    content: "04";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#reSite .slick-initialized .slick-slide{
    height: 500px;
    /* background-color: lightblue; */
}
#reSite .slick-slider{
    padding: 50px 0;
}
/* 그룹1 */
#reSite .single-item .resiteGroup1{
    height: 480px;
}
#reSite .single-item .resiteGroup1 .resiteImg{
    width: 800px;
    height: 480px;
    background: url('../img/resiteimg/resite_ssg.png') no-repeat;
    background-size: cover;
    border: 1px solid #eee;
    border-radius: 20px;
}
#reSite .single-item .resiteGroup1 .resiteImg:hover{
    animation: resiteScroll 13s ease infinite;
}
@keyframes resiteScroll {
    0% {
    background-position-y: 0;
}
100% {
    background-position-y: 100%;
}
}
/* 그룹2 */
#reSite .single-item .resiteGroup2{
    height: 480px;
}
#reSite .single-item .resiteGroup2 .resiteImg{
    width: 800px;
    height: 480px;
    background: url('../img/resiteimg/resite_smoothie3.png') no-repeat;
    background-size: cover;
    border: 1px solid #eee;
    border-radius: 20px;
}
#reSite .single-item .resiteGroup2 .resiteImg:hover{
    animation: resiteScroll 13s ease infinite;
}
/* 그룹 3 */
#reSite .single-item .resiteGroup3{
    height: 480px;
}
#reSite .single-item .resiteGroup3 .resiteImg{
    width: 800px;
    height: 480px;
    background: url('../img/resiteimg/resite_nasa.png') no-repeat;
    /* background: #ccc; */
    background-size: cover;
    border: 1px solid #eee;
    border-radius: 20px;
}
#reSite .single-item .resiteGroup3 .resiteImg:hover{
    animation: resiteScroll 13s ease infinite;
}
#reSite .textBtnGroup1,
#reSite .textBtnGroup2,
#reSite .textBtnGroup3{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
}
#reSite .viewBtn1 ul,
#reSite .viewBtn2 ul,
#reSite .viewBtn3 ul{
    padding-left: 0;
    display: flex;
    gap: 15px;
}
#reSite .viewBtn1 ul li a,
#reSite .viewBtn2 ul li a,
#reSite .viewBtn3 ul li a{
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.7s ease-in;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}
#reSite .viewBtn1 ul li:hover a,
#reSite .viewBtn2 ul li:hover a,
#reSite .viewBtn3 ul li:hover a {
    /* background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%); */
    color: #fff;
    transform: translateY(-7px);
}
#reSite .resiteText dl{
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
}
#reSite .resiteText dt{
    width: 30%;
    line-height: 35px;
}
#reSite .resiteText dd{
    width: 70%;
    line-height: 35px;
}
#reSite .dSty{
    line-height: 30px !important;
}

/*슬라이드 버튼*/
#reSite .slick-prev{
    left: -10%;
    width: 60px;
    height: 60px;
    border: 3px solid #222;
    border-radius: 50%;
}
#reSite .slick-prev:hover{
    background-color: #222;
    transition: all 0.6s ease;
}
#reSite .slick-next{
    right: -7%;
    width: 60px;
    height: 60px;
    border: 3px solid #222;
    border-radius: 50%;
}
#reSite .slick-next:hover{
    background-color: #222;
    transition: all 0.6s ease;
}
#reSite .resiteFlex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#reSite .slick-prev:before{
    content: "PREV";
    font-size: 15px;
    color: #222;
    font-weight: 700;
}
#reSite .slick-prev:hover:before{
    color: #fff;
    transition: all 0.6s ease;
}
#reSite .slick-next:before{
    content: "NEXT";
    font-size: 15px;
    color: #222;
    font-weight: 700;
}
#reSite .slick-next:hover:before{
    color: #fff;
    transition: all 0.6s ease;
}
#reSite .reBtn{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    display: block;
    text-align: center;
}
#reSite .reBtn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}
#reSite .reBtn:hover:before {
    transform: translateX(0);
}  
#reSite .reBtn:hover {
    color: #fff;
}

/*todo list 부분*/
#toDoList{
    background: #fff;
    padding: 145px 0;
}
#toDoList .listWrap{
    width: 1400px;
    margin: 0 auto;
}
#toDoList h2::after{
    content: "05";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#toDoList .listImg{
    width: 800px;
    height: 480px;
    /* background: #ccc; */
    background: url('../img/todolist/todo_list2.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
#toDoList .siteInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#toDoList .leftTit{
    width: 487px;
}
#toDoList .leftTit h3{
    margin-bottom: 5%;
}
#toDoList h2::after{
    content: "05";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#toDoList .siteInfo .leftTit dl{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#toDoList .siteInfo .leftTit dl dt{
    width: 30%;
    line-height: 35px;
}
#toDoList .siteInfo .leftTit dl dd{
    width: 70%;
    line-height: 33px;
}

#toDoList .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#toDoList .button:hover {
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #bb91e3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}
#toDoList{}
#toDoList{}
#toDoList{}

/* 리액트 */
#react{
    background: #fff;
    padding: 145px 0;
}
#react .listWrap{
    width: 1500px;
    margin: 0 auto;
}
#react .reactSlide{
    margin-top: 37px;
}
#react h2::after{
    content: "06";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}


/* 리액트 todolist 부분 */

/* 리액트 프로젝트 슬라이드 부분 */
#react .tit01{
    width: 1400px;
    margin: 0 auto;
}
#react .swiper{
    width: 100%;
    height: 100%;
}
#react .swiper-slide{
    text-align: center;
    font-size: 18px;
    /* background: #ccc; */
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#react .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#react .reactCon .listImg{
    width: 800px;
    height: 480px;
    background: url('../img/todolist/reactToDoList2.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid #eee;
    position: relative;
}
#react .reactCon .listImgHover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
    border-radius: 20px;
    color: #fff;
    padding: 120px 75px 100px 75px;
}
#react .reactCon .listImgHover h4{
    font-size: 30px;
}
#react .reactCon .listImgHover p{
    margin: 40px 0 40px 0;
    font-size: 18px;
    line-height: 30px;
}
#react .reactCon .listImgHover a{
    display: flex;
    width: 143px;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0 auto;
    font-size: 13px;
    border: 1px solid #fff;
    padding: 9px 18px;
    border-radius: 20px;
    position: relative;
    transition: all 0.6s;
}
#react .reactCon .listImgHover a:hover span{
    transform: translateX(5px);
}
#react .reactCon .listImgHover a:hover{
    background: #fff;
    color: #222;
}
#react .reactCon .listImgHover a span{
    position: absolute;
    top: 2px;
    left: 104px;
    font-size: 17px;
    transition: all 0.6s;
}
#react .reactCon .listImg:hover .listImgHover{
    opacity: 1;
}

#react .listInfo{
    width: 450px;
    text-align: left;
}
#react .listInfo h3{
    margin-bottom: 5%;
}
#react .toDoImg{
    display: flex;
    align-items: center;
    gap: 70px;
}
#react .listInfo dl{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
#react .listInfo dl dt{
    width: 30%;
    line-height: 35px;
    font-size: 1em;
}
#react .listInfo dl dd{
    width: 70%;
    line-height: 33px;
    font-size: 0.9em;
}
#react .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#react .button:hover {
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #bb91e3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}
/* 리액트 쇼핑몰 설명 부분 */
#react .reactCon2 .siteImg{
    width: 800px;
    height: 480px;
    background: url(../img/reactShoping/main_page.png) no-repeat;
    background-size: cover;
    background-position: top;
    border-radius: 20px;
    border: 1px solid #eee;
}
#react .reactCon2 .siteImg:hover{
    animation: nikeScroll 15s ease infinite;
}
@keyframes nikeScroll {
    0% {
    background-position-y: 0;
}
100% {
    background-position-y: 100%;
}
}
#react .siteInfo{
    width: 450px;
    text-align: left;
}
#react .siteInfo h3{
    margin-bottom: 5%;
}
#react .siteNike{
    display: flex;
    align-items: center;
    gap: 70px;
}
#react .siteInfo dl{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 5px;
}
#react .siteInfo dl dt{
    width: 30%;
    line-height: 35px;
    font-size: 1em;
}
#react .siteInfo dl dd{
    width: 70%;
    line-height: 33px;
    font-size: 0.9em;
}
#react .siteInfo .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 13px;
}

#react .siteInfo .button:hover {
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    /* background-color: #bb91e3; */
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    color: #fff;
    transform: translateY(-7px);
}
.swBtnGroup{
    position: relative;
    top: -250px;
    left: 100%;
    width: 7px;
    z-index: 999;
    display: flex;
    flex-direction: column;
}
#react .swiper-button-prev{
    left: -90px;
}
#react .swiper-pagination{
    width: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    top: 40%;
    left: 96%;
}

#react .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1){
    width: 55px;
    height: 55px;
    background: url(../img/reactShoping/icon1.png) no-repeat;
    background-size: 42px;
    background-position: 5px 6px;
    border: 2px dashed #ccc;
    opacity: 1;
    transition: 0.4s;
}
#react .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(1):hover{
    border-color: #ee6290;
}
#react .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2):hover{
    border-color: #ee6290;
}
#react .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2){
    width: 55px;
    height: 55px;
    background: url(../img/reactShoping/icon2.png) no-repeat;
    background-size: 47px;
    background-position: 2px 2px;
    opacity: 1;
    border: 2px dashed #ccc;
    transition: 0.4s;
}
#react{}
#react{}
#react{}

/* 디자인 작업 */
#design{
    background: #eee;
    padding: 145px 0;
}
#design .listWrap{
    width: 1400px;
    margin: 0 auto;
}
#design h2::after{
    content: "07";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
#design .designWrap{
    width: 1400px;
    /* height: 100%; */
    /* background: #ccc; */
    /* background: url('../img/todolist/todo_list2.png') no-repeat;
    background-size: cover; */
    margin: 0 auto;
}

/* 디자인 작업한 부분 */
#design .designGroup{
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 3%;
}

#design .designGroup .poster01 ul,
#design .designGroup .poster02 ul,
#design .designGroup .poster03 ul,
#design .designGroup .poster04 ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 25px;
    margin-bottom: 0;
}
#design .designGroup .poster01 ul > li,
#design .designGroup .poster02 ul > li,
#design .designGroup .poster03 ul > li,
#design .designGroup .poster04 ul > li{
    width: 345px;
    /* height: 300px; */
}
#design .designGroup .portfolio-wrapper img{
    width: 100%;
    border-radius: 15px;
}
#design .designGroup{}


#design .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#design .swiper {
    margin-left: auto;
    margin-right: auto;
}
#design .designGroup02{
    width: 500px;
}
#design .designGroup02 .posSlide{
    width: 100%;
}
.mfp-figure figure{
    width: 800px;
    height: 100%;
}
img.mfp-img{
    max-height: 214% !important;
}
#design .poster02{
    margin-top: 30px;
}
#design .poster01{
    animation: bounce 1.5s infinite alternate linear;
}
#design .poster02{
    animation: bounce 1.5s infinite alternate-reverse linear;
}
#design .poster03{
    animation: bounce 1.5s infinite alternate linear;
}
@keyframes bounce{
    0% {transform: translateY(0);}
    100% {transform: translateY(-20px);}
}

/* 각 디자인 작업한거 오버 아래에서 박스나오는 것 */
#design .desList01{
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
#design .desList01 .caption{
    position: absolute;
    width: 100%;
    font-size: 12px;
    height: 83px;
    bottom: -83px;
    text-align: center;
    padding: 35px 38px 35px;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 15px;
}
#design .desList01 .okClick{
    position: relative;
}
#design .desList01 .okClick a{
    display: block;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    width: 95px;
    text-align: left;
    padding-left: 6%;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: 0.6s ease;
}
#design .desList01 .okClick a:hover{
    background: #222;
    color: #fff;
    border-color: #222;
}
#design .desList01 .caption a span{
    position: absolute;
    top: -7%;
    left: 55%;
    transition: all 0.5s;
}
#design .desList01 .caption a:hover span{
    transform: translateX(5px);
}
#design .desList01 .caption .infoText{
    font-size: 1.3em;
}
#design .desList01 .caption h5{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}  
#design .desList01:hover .caption, .desList01:focus .caption {
    opacity: 1;
    bottom: 0;
    height: 100%;
}
/* 팝업 닫는 X */
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close{
    color: #222;
    background: linear-gradient(90deg, rgba(248,190,103,1) 0%, rgba(238,98,144,1) 100%);
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    padding-right: 0;
    width: 50px;
    height: 50px;
    font-size: 2.5em;
    top: 39px;
    left: 105%;
}

/* 푸터 부분 */
#ending{
    padding: 100px 0 100px 0;
}
#ending .footerWrap1{
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 25px;
}
#ending .footerWrap2{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* background: #ccc; */
}
#ending .footerWrap2 .myInfoGroup{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#ending .qrcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 22px 30px;
    background: #f3f3f3;
    transition: all 0.6s ease;
}
#ending .qrcode:hover{
    background: #365fa0;
}
#ending .qrcode:hover p{
    color: #fff;
}
#ending .qrcode p{
    font-size: 22px;
    color: #111;
    font-weight: 600;
    margin: 0;
}
#ending .thankInfo{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 15px;
}
#ending .thankInfo li{
    line-height: 25px;
    font-size: 20px;
    color: #111;
    font-weight: 600;
}
#ending .emailGroup a{
    display: block;
    padding: 10px 10px;
    width: 180px;
    text-align: center;
    border: 1px solid #222;
    font-size: 16px;
    color: #111;
    transition: all 0.4s;
    font-weight: 700;
}
#ending .emailGroup a:hover{
    background: #fff;
    color: #111;
    border-color: #fff;
}
#ending .thankGroup > ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    /* height: 363px; */
    gap: 40px;
    justify-content: center;
    margin-bottom: 0;
}
#ending .thankGroup .emailGroup{
    padding: 35px 25px;
    width: 520px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: #f3f3f3;
    transition: all 0.6s ease;
}
#ending .thankGroup .emailGroup:hover{
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    background-blend-mode: hard-light;
}

#ending .thankGroup .infoEmail{
    font-size: 30px;
    color: #111;
    font-weight: 500;
    transition: all 0.6s ease;
}
#ending .thankGroup:hover .infoEmail{
    color: #fff;
}
#ending h2::after{
    content: "08";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 3.8em;
    transform: translate(-76%, -54%);
    background: linear-gradient(90deg, #f8be67 0%, #ee6290 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    letter-spacing: -2px;
}
/* 움직이는 텍스트 */
#ending .animated-title{
    font-size: 75px; 
    font-family:'Raleway',Sans-serif; 
    font-weight: 600; 
    position: relative; 
    width: 100%;
    max-width: 100%;
    color: #ddd;
    height: 170px; 
    /* padding:100px 0; */
    overflow-x: hidden;
    overflow-y: hidden;
}
#ending .animated-title:hover{
    color: #8988ff;
}
#ending .animated-title .track{
    position: absolute; 
    white-space: nowrap;
    will-change: transform;
    animation: marquee 60s linear infinite; 
}
@keyframes marquee{
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
#ending .animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
}
#ending .copyright{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #555;
    padding: 33px;
}
#ending .copyGroup{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
#ending .copyGroup .copyText{
    margin: 0;
    color: #fff;
    font-size: 14px;
}
#ending{}
#ending{}
#ending{}
